
      .blinking{
	          color: blue; 
            text-align: center; 
            animation: animate
                2s linear infinite;
}
@keyframes animate { 
            0% { 
                opacity: 0; 
            } 
  
            50% { 
                opacity: 0.5; 
            } 
  
            100% { 
                opacity: 1; 
            } 
        }

    .alert{
        color: red;
    }